!!! 5

%html
  %body

    %h1= "Hi #{@invitee.first},"

    %h2= "You're invited to join #{@group.name} by #{@inviter.name}!"

    %p=  "Lorem ipsum dolor sit amet, hamburger cheeseburger cupcake scone"

    - if @message
      = image_tag @inviter.avatar.url(:small)
      %p= "#{@inviter.first} says..."
      %p= "#{@message}"

    -# - if User.where(:email => @invitee.email).count != 0
    - if User.exists_by_email? @invitee.email
      = link_to "Join Group", "#"
    - else
      = link_to "Register & Join Group", "#"
