%p#notice= notice

%h1= @group.name

= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path

%h2 Projects

= link_to 'New Project', new_group_project_path(@group)

%table
  %tr
    %th Name
    %th
    %th

  - @group.projects.each do |project|
    %tr
      %td= link_to project.name, project
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete
