%p#notice= notice

%p
  %b Name:
  = @project.name

%fieldset
  %legend Entities
  %table
    %tr
      %th Type
      %th Title
      %th Text
      %th
      %th
      %th
  = render :partial => 'entity', :collection => @project.entities
  = link_to 'New Entity', new_project_entity_path(@project)

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
