%h1 Listing prospects

%table
  %tr
    %th First
    %th Last
    %th State
    %th Email
    %th Heard from
    %th Newsletter
    %th{ colspan: 3 }

  - @prospects.each do |prospect|
    %tr{ id: dom_id(prospect) }
      %td= prospect.first
      %td= prospect.last
      %td= prospect.state
      %td= prospect.email
      %td= prospect.heard_from
      %td= prospect.newsletter ? 'X' : ''
      %td= link_to 'Show', prospect
      %td= link_to 'Edit', edit_prospect_path(prospect)
      %td= link_to 'Delete', prospect, :method => :delete, remote: true

%br

= link_to 'New Prospect', new_prospect_path
