%p#notice= notice

%p
  %b First:
  = @prospect.first
%p
  %b Last:
  = @prospect.last
%p
  %b State:
  = @prospect.state
%p
  %b Email:
  = @prospect.email
%p
  %b Heard from:
  = @prospect.heard_from

= link_to 'Edit', edit_prospect_path(@prospect)
\|
= link_to 'Back', prospects_path
