%h1 Listing timelines

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @timelines.each do |timeline|
    %tr
      %td= timeline.name
      %td= link_to 'Show', timeline
      %td= link_to 'Edit', edit_timeline_path(timeline)
      %td= link_to 'Destroy', timeline, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Timeline', new_timeline_path
