!!! 5
- ie_html :class => "no-js", :lang => "en" do
  = render "head"

  %body{ :class => "#{ controller.controller_name }" }
    = render "header"

    /////BEGIN BRAD'S MESS
    %ul.user_menu
      = render 'devise/menu/registration_items'
      = render 'devise/menu/login_items'
    #messages
      %p.notice= notice
      %p.alert= alert
    /////END BRAD'S MESS

    #main{ :role => "main" }
      = render "flashes"
      = yield

    = render "footer"

    = requirejs_include_tag "application"
